.cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.cards .category h2 {
    margin-bottom: 8px;
}

.category {
    display: inline-flex;
    gap: 20px;
    cursor: pointer;
}

.category .arrowCategory {
    overflow: hidden;
    transition: max-width 1s ease, 
                opacity 1s ease, 
                transform 0.75s ease;
    max-width: 0;
    opacity: 0;
    transform: translateX(-50%);
    white-space: nowrap;
}

.category:hover .arrowCategory {
    max-width: 300px;
    opacity: 1;
    transform: translateX(0);
}

.category .arrowCategory h3 {
    color: aqua;
}

.cardsList {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.cardsList::-webkit-scrollbar {
    display: none;
}

.cardsList img {
    width: 280px;
    border-radius: 4px;
    cursor: pointer;
}

.cardsList .card {
    position: relative;
}

.cardsList .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}