.navbar {
    /* width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 20px;
    color: #e5e5e5; */
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    /* z-index: 1; */
}

/* .navbarLeft {
    display: flex;
    align-items: center;
    gap: 50px;
} */

/* .navbarLeft img {
    width: 90px;
} */

/* .navbarMiddle {
    display: flex;
    align-items: center;
} */

/* .navbarMiddle ul{
    display: flex;
    list-style: none;
    gap: 20px;
} */

/* .navbar ul li {
    cursor: pointer;
} */

/* .navbar .navbarMiddle .linkDecoration {
    text-decoration: none;
    color: white;
} */

/* .navbarRight {
    display: flex;
    align-items: center;
    gap: 20px;
} */

/* .navbarRight .icon {
    width: 20px;
    cursor: pointer;
} */

/* .navNotif {
    display: flex;
    align-items: center;
    position: relative;
} */

/* .navbar .dropdownNotif {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    height: 100px;
    background: #191919e0;
    margin-top: 25px;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
    text-align: center;
    border-top: 5px solid white;
} */

/* .navbar .dropdown p {
    font-size: 25px;
} */

.navNotif:hover .dropdownNotif {
    display: block;
}

/* .navbarRight .profileIcon {
    border-radius: 4px;
    width: 35px;
} */

/* .navProfile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
} */

/* .navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919e0;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
} */



/* .navbar .dropdown p {
    font-size: 25px;
    cursor: pointer;
} */
/*  */
.navProfile:hover .dropdown {
    display: block;
} 
/*  */
.navProfile:hover .arrow {
    transform: rotate(180deg);
    transition: transform 500ms;
}
/*  */
/* .navbarMiddle ul li:hover{
    color: #e5e5e599;
} */