/* .footer {
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
} */

/* .footerIcon {
    display: flex;
    gap: 20px;
    margin: 40px 0;
} */

/* .footerIcon img {
    width: 30px;
    cursor: pointer;
} */

/* .footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
    color: gray;
} */

/* .footer ul li:hover {
    cursor: pointer;
    text-decoration: underline;
} */

/* .copyright {
    color: gray;
    font-size: 14px;
} */

/* .buttonFooter {
    margin-bottom: 20px;
} */

/* .buttonFooter button {
    width: 94px;
    height: 35px;
    color: gray;
    border: 1px solid gray;
    background: transparent;
    cursor: pointer;
}

.buttonFooter button:hover {
    color: white;
} */